<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="OpenGloveWCF.OGService" behaviorConfiguration="OpenGloveWCF.Service1Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="OpenGloveWCF.IOGService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" bindingConfiguration="VSLiveService_WebHttpBinding" contract="OpenGloveWCF.IOGService"/>
      </service>
    </services>
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp/>
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="OpenGloveWCF.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="VSLiveService_WebHttpBinding" maxBufferSize="1000000" maxReceivedMessageSize="1000000">
          <readerQuotas maxBytesPerRead="1000000" maxArrayLength="1000000" maxDepth="1024" maxStringContentLength="1000000"/>
        </binding>
      </webHttpBinding>

    </bindings>
  
    <extensions>
      <behaviorExtensions>
        <add
          name="crossOriginResourceSharingBehavior"
          type="OpenGloveWCF.CORSEnablingBehavior, OpenGloveWCF, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
